/* body{
    background-image:url(fond.jpg); 
} */


img {
	width: 180px;
    height: 150px;
    border-radius: 10%
}

.btn{
    background-color: #f69594;
}

.superp {
    position: relative;
}

.buton {
    position: absolute;
    bottom: 20px;
}


.col-md-6{
    width: 40%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    
    
    
}

#nom_et_logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    width: 40%;
    

}

#logo{
    float: left;
}

#score{
    
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

#buy{
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

.badge{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 25px;
}

.col-md-2{
    width: 10%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    
}