/* body{
    background-image:url(fond.jpg); 
} */


img {
	width: 100px;
    border-radius: 10%
}

.btn{
    background-color: #f69594;
}

.superp {
    position: relative;
}

.buton {
    /*position: absolute;
    bottom: 20px;*/
}


.col-md-6{
    width: 40%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
}

.col-h100 {
    height: 100%;
}

#menubar {
    position: relative;
    height: 110px;
}
 
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nom_et_logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 37px;
    color: #483D37;
    /* width: 40%; */
}

#logo{
    float: left;
}

#score{
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

#buy{
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

.badge{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: #483D37;
}

.col-md-2{
    width: 10%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    
}