/* body{
    background-image:url(fond.jpg); 
} */


img {
	width: 100px;
    border-radius: 10%
}

.btn{
    background-color: #f69594;
    width: 120px;
    height: 40px;
}

/* .btn active{
    color: red;
} */

.superp {
    position: relative;
}

/* .buton {
    /*position: absolute;
    bottom: 20px;
}*/


.col-md-6{
    width: 40%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
}

.col-h100 {
    height: 100%;
}

#menubar {
    position: relative;
    height: 110px;
}
 
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nom_et_logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 37px;
    color: #483D37;

    /* width: 40%; */
}

#logo{
    float: left;
}

#score{
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

#buy{
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

.badge{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: #483D37;
}

.col-md-2{
    width: 10%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    
}

.badge2{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #483D37;
    font-size: 10px;
    background-color: #f69594;
}
#mngrname{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size:20px;

}

.modal-title{
    font-family: 'Permanent Marker', cursive;
    color: #f69594;
    font-size:25px;
}

.imgM{
    background-size: cover;
}

.col-md-3{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #483D37;
    font-size: 15px;
}

.butonMan{
    color: #483D37;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.btn-default{
    color: #483D37;
    font-family: 'Permanent Marker', cursive;
}

.form{
    width: 150px;
    height: 30px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-variant-caps: all-petite-caps;
    text-align: center;
}

#colunlock{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size:20px;
}

#imageunlock{
    text-align: center;
}

#colMan{
    text-align: center;
}