<head>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fira+Sans+Condensed|News+Cycle|Permanent+Marker" rel="stylesheet">

<style>
* {
border: 2px solid;
border-color:transparent;

}
</style>
</head>

<body>
  <div class="container-fluid">
        
  <div class="row" id="menubar">
  <div class="col-md-4" id="nom_et_logo">
    <span id=logo>
    <img [attr.src]="server+world.logo" /> </span>
    <span id="worldname"> {{world.name}} </span>
  </div>
  <div class="col-md-4 col-h100" id="score">
      <span class="badge badge-secondary center">$<span [innerHTML]="world.money | bigvalue"></span></span>
    </div>
   <div class="col-md-4 col-h100" id="buy">
      <input type="text" class="form" [(ngModel)]="username" (change)="onUsernameChanged()" placeholder="username?"/>
      <button type="button" class="btn btn-primary center" (click)="onClickBuy()">BUY {{facteurMulti[multi]}}</button>
    
    </div>

  </div>
  <br/>
  <br/>
  <div class="row">

  <div class="col-md-2">
        <br/>
        <br/>
      
          <button type="button" class="btn btn-primary">Unlocks</button>
      
      <br/>
      <br/>
      
     
          <button type="button" class="btn btn-primary">Cash Upgrades</button>
   
      <br/>
      <br/>
      
      
          <button type="button" class="btn btn-primary">Angel Upgrades</button>
     
      <br/>
      <br/>
      
      <div class="buttonleft btn btn-primary" data-toggle="modal" (click)="managersModal.show()" > 
            <span class="badge2">{{New}}</span> Managers
          
      </div>
          <!-- <button type="button" class="btn btn-primary">Managers</button> -->
      
      <br/>
      <br/>
      
   
          <button type="button" class="btn btn-primary">Investors</button>
    
        <br/>
      <br/>
    
      
      
  </div>
  <div class="col-md-6" *ngFor="let product of world.products.product">
      <app-product [prod]="product" [serv]="server" (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuy($event)" [qtmulti]="facteurMulti[multi]" [money]="world.money"></app-product>
    </div>



    <app-modal #managersModal>
        <div class="app-modal-header">
        <h4 class="modal-title">Managers make you feel better !</h4> </div>
        <div class="app-modal-body">
            <div class="mngr" *ngFor="let manager of world.managers.pallier" >
                <div class="row">
                    <div class="col-md-3">
                        <img class="imgM" [attr.src]="server+manager.logo">
                    </div>
                    <div class="col-md-3">
                        <span id="mngrname"> {{manager.name}} </span>
                        <br/>
                        <br/>
                        <span id="mseuil">{{manager.seuil}}</span>
                    </div>
                    <div class="butonMan">
                        <button id='hireButton-{{manager.idcible}}' (click)="hireManager(manager)" type="button" class="btn btn-dark">Hire !</button>
                    </div> 
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button> 
        </div>
    </app-modal>


      <!--
        <div class="row">
            <div class="col-md-6">
                    <div class="row">
                            <div class="col-md-6">
                                    <div class="superp2">
                                            <div class="image" onClick="startFabrication()"><span> <img [attr.src]="server+world?.products.product[0].logo" /> </span></div>
                                            <div class="buton"><button type="button" class="btn btn-dark">Quantité</button></div>    
                                        </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="row"> 
                                                <div class="progress" #bar> </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                                <button type="button" class="btn btn-secondary">Quantité + prix</button>
                                    
                                        </div>
                                        <div class="col-md-6">
                                            Temps écoulé
                                            <span [innerHTML]="world.money | bigvalue"> </span>
                                        
                                        </div>
                                    </div>
                            </div>

                    </div>
                    
                    
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                            <div class="superp1">
                                    <div class="image" onClick="startFabrication()"><span> <img [attr.src]="server+world?.products.product[1].logo" /> </span></div>
                                    <div class="buton"><button type="button" class="btn btn-dark">Quantité</button></div>    
                                </div>
                    </div>
                    <div class="col-md-6">
                            <div class="row"> 
                                <div class="progress" #bar> </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-6">
                                        <button type="button" class="btn btn-secondary">Quantité + prix</button>
                            
                                </div>
                                <div class="col-md-6">
                                    Temps écoulé
                                    <span [innerHTML]="world.money | bigvalue"> </span>
                                
                                </div>
                            </div>
                    </div>
                </div>
            </div>  

        </div>     
        <div class="row">
                <div class="col-md-6">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="superp">
                                    <div class="image" onClick="startFabrication()"><span> <img [attr.src]="server+world?.products.product[2].logo" /> </span></div>
                                    <div class="buton"><button type="button" class="btn btn-dark">Quantité</button></div>    
                                </div>
                            </div> 

                            <div class="col-md-6">
                                    <div class="row"> 
                                        <div class="progress" #bar> </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                                <button type="button" class="btn btn-secondary">Quantité + prix</button>
                                    
                                        </div>
                                        <div class="col-md-6">
                                            Temps écoulé
                                            <span [innerHTML]="world.money | bigvalue"> </span>
                                        
                                        </div>
                                    </div>
                            </div>            
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                            <div class="col-md-6">
                                    <div class="superp4">
                                            <div class="image" onClick="startFabrication()"><span> <img [attr.src]="server+world?.products.product[3].logo" /> </span></div>
                                            <div class="buton"><button type="button" class="btn btn-dark">Quantité</button></div>    
                                        </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="row"> 
                                        <div class="progress" #bar> </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                                <button type="button" class="btn btn-secondary">Quantité + prix</button>
                                    
                                        </div>
                                        <div class="col-md-6">
                                            Temps écoulé
                                            <span [innerHTML]="world.money | bigvalue"> </span>
                                        
                                        </div>
                                    </div>
                            </div>
    
                    </div>
        
                </div>         
        </div>
    -->
    

</div>



<toaster-container></toaster-container>
</div>
</body>
