img {
	width: 70px;
    height: 83px;
    border-radius: 10%
}
.superp2 {
    position: sticky;
    text-align: center;
    bottom: -10px;
}

/* .buton {
    position: absolute;
    
} */
#col2{
    text-align: center;
}

#tps{
    text-align: right;
    font-size: 15px;
}

